<!--     FileName: login.ejs      -->
<!--     Author: Dixit Hihoriya   -->
<!--     StudentID: 301201312     -->
<!--     Date : 19th June 2022     -->

<main style="margin-bottom: 10%;">
  <div>
    <section class="wrapper-full tab-container effectTab-header" id="style_3">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper " align="center">
            <h1 class="ti title">Login</h1>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div style="margin: auto; padding: auto;">



      <form class="form" method="POST" style="margin:auto; padding: 5%;">

          <div class="form-group">
              <label for=username class="col-sm-2 col-form-label">USERNAME</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" name=username id=username placeholder="Your Username"
                      required>
              </div>
          </div>

          <div class="form-group">
              <label for=password class="col-sm-2 col-form-label">PASSWORD</label>
              <div class="col-sm-10">
                  <input type="password" class="form-control" name=password id=password placeholder="Your Password"
                      required>
              </div>
          </div>
          <div>
              <span>
                  <button style="margin-left: 30%; margin-top: 2%;" class="btn btn-primary" type="submit" value="login" href="/">Login</button> 
              </span>
              <span>
                  <a style="margin-left: auto; margin-top: 2%;" class="btn btn-info" href="/register" type="button">New User?Register Here.</a>
              </span>
              <span>
                  <a style="margin-left: auto; margin-top: 2%;" class="btn btn-warning" value="cancel" href="/" type="button">Cancel</a> 
              </span>   
          </div>
      </form>



  </div>


</main>