<!--     FileName: aboutme.ejs    -->
<!--     Author: Dixit Hihoriya   -->
<!--     StudentID: 301201312     -->
<!--     Date : 4th June 2022     -->


<!-- Main Content: About me page -->
<div style="background-image: url(/images/bgimage2.jpg); background-size: cover; background-repeat: no-repeat;">
  <div>
    <section class="wrapper-full tab-container effectTab-header" id="style_3">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper " align="center">
            <h1 class="ti title">Who am I?</h1>
          </div>
        </div>
      </div>
    </section>
  </div>


  <div class="card mb-3" style="margin: auto; ">
    <section>
      <!--My Introduction and My Image -->
      <div class="wrapper tab-item">
        <div class="column-12 tab column-xs-12">
          <div class="column-4 hide-xs hide-sm hide-md box-tab">
            <div class="effect effect-three col3-block-height">
              <img src="images/Dixit.jpg" class="img-fluid">
              <div class="tab-text">
                <p>
                  <a href="https://www.linkedin.com/in/dixit-hihoriya-983563126/"><i class="fa fa-linkedin"></i></a>
                  <a href="https://www.instagram.com/dixit_2808/"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.facebook.com/dixit.hihoriya"><i class="fa fa-facebook"></i></a>
                </p>
              </div>
            </div>
          </div>
          <p class="card-text" style="text-align:justify; padding-right: 30%; padding-top: 2%;">
            Hello! My name is Dixit Hihoriya and I enjoy building orchestration on Cloud. My interest in Cloud Computing
            and DevOps Orchestration started back in 2018 when I decided to do hands-on and learn cloud technology -
            turns
            out hacking together a infrastructure orchestration taught me a lot about different DevOps tools.<br><br>
            After having 3+ years of expierence as a DevOps Engineer, today my main goal is to help clients to build
            highly scalable and robust automation/orchestration for their application over the cloud.<br>
          </p>
          <!-- Download Resume -->
          <a href="others/Dixit_Hihoriya_Resume.pdf" class="btn btn-primary btn-lg enabled" tabindex="-1" role="button"
            aria-disabled="true" download="Resume">Download Resume</a>
        </div>
      </div>
    </section>
  </div>