<!--     FileName: contacts.ejs   -->
<!--     Author: Dixit Hihoriya   -->
<!--     StudentID: 301201312     -->
<!--     Date : 4th June 2022     -->


<!-- Main Content: Contact page -->
<div style="background-image: url(/images/bgimage2.jpg); background-size: cover; background-repeat: no-repeat;">
  <div>
    <section class="wrapper-full tab-container effectTab-header" id="style_3">
      <div class="wrapper tab-item">
        <div class="custom-row">
          <div class="wrapper " align="center">
            <h1 class="ti title">Get In Touch</h1>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Content: Personal Information -->
  <div class="card mb-3" style="margin: auto; padding: 5%;">

    <div style="margin: auto; padding: auto;">
      <dl class="row" style="padding: auto; margin: auto;">
        <dt class="col-sm-3">My Phone Number</dt>
        <dd class="col-sm-9">+1(647)333-5676.</dd>

        <dt class="col-sm-3">My Email Address</dt>
        <dd class="col-sm-9">dhihoriy@my.centennialcollege.ca</dd>

        <dt class="col-sm-3">My Home Address </dt>
        <dd class="col-sm-9">Scarborough, ON, Canda</dd>

        <dt class="col-sm-3 text-truncate">linkedin</dt>
        <dd class="col-sm-9"><a
            href="https://www.linkedin.com/in/dixit-hihoriya-983563126/">linkedin.com/in/dixithihoriya</a></dd>

      </dl>
      <br>

      <!-- Content: Form to Drop a message -->
      <div style="margin: auto; padding: auto;">
        <h1 class="display-7">Drop me a message</h1>
        <div class="mb-3">
          <label for="ContactsFormInputFirstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="ContactsFormInputFirstName" placeholder="Enter your First Name">
        </div>
        <div class="mb-3">
          <label for="ContactsFormInputLastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="ContactsFormInputLastName" placeholder="Enter your Last Name">
        </div>
        <div class="mb-3">
          <label for="ContactsFormInputContactNumber" class="form-label">Contact Number</label>
          <input type="number" class="form-control" id="ContactsFormInputContactNumber" placeholder="Enter your Contact Number">
        </div>
        <div class="mb-3">
          <label for="ContactsFormInputemail" class="form-label">Email address</label>
          <input type="email" class="form-control" id="ContactsFormInputemail" placeholder="Enter your Email Address">
        </div>
        <div class="mb-3">
          <label for="ContactsFormInputtext" class="form-label">Your Message Here</label>
          <textarea class="form-control" id="ContactsFormInputtext" rows="3"></textarea>
        </div>
        </figcaption>
        <a href="/Home" class="btn btn-primary btn-lg enabled" tabindex="-1" role="button" aria-disabled="true">Send
          Message</a>
        </figure>
      </div>
    </div>
  </div>