<!--     FileName: footer.ejs     -->
<!--     Author: Dixit Hihoriya   -->
<!--     StudentID: 301201312     -->
<!--     Date : 4th June 2022     -->


<!-- Main Content: footer -->
<footer class="footer">
    <p>© Copyright 2022. All Right reserved. Dixit Hihoriya</p>
</footer>