<!--     FileName: home.ejs      -->
<!--     Author: Dixit Hihoriya   -->
<!--     StudentID: 301201312     -->
<!--     Date : 19th June 2022     -->

<div style="background-image: url(/images/bgimage1.jpg); background-size: cover; background-repeat: no-repeat;">
<div>
    <figure class="text-center" style="padding: 10%;">
        <blockquote class="blockquote">
            <h1 class="display-1">Hey there, I'm Dixit Hihoriya.</h1>
            <h1 class="display-1">Nice to meet you</h1>
            <h1 class="display-3">It's all problems and solutions; <br>how may I be of service to you.</h1>
        </blockquote>
        <figcaption class="blockquote-footer">
          
        </figcaption>
        <a href="/about" class="btn btn-primary btn-lg enabled" tabindex="-5" role="button" aria-disabled="true">About Me!</a>
      </figure>
      
</div>